

<h1 style="text-align:center;color:White">Posts#index</h1>
<p style="text-align:center;color:White">Find me in app/views/posts/index.html.erb</p>
<h1 style="text-align:center;color:White" >Post List</h1>


<body background = "https://d32myzxfxyl12w.cloudfront.net/images/blog_images/be602627973000d99f6ba9a43aba117b82aa5e26.jpg?1649061518">

<table style="border:5px solid white;margin-left:auto;margin-right:auto;color:White">
     <thead style="text-align:center;">

     <td>Title</td>
     <td>Content</td>
     <td>Action</td>
   </thead>
     <% @posts.each do |post| %>
        <tr style="height:50px">
         <td> <%= post.title %></td>
         <td><%= post.content %></td>
        <td></td>
          <td>
                     <%= link_to 'Show', post_path(post) %>
                     <%= link_to 'Edit', edit_post_path(post) %>
                     <%= button_to 'Delete', post_path(post), method: :delete %>

          </td>
       </tr>
       <% end %>
   </table>
<%= link_to 'New Post', new_post_path %>
</body>
