
<h1>Post List</h1>

<table>
  <thead>

    <td>Title</td>
    <td>Content</td>
    <td>User</td>
    <td>Comments count</td>
    <td>Category</td>
    <td>Action</td>

  </thead>

   <% @posts.each do |post| %>
    <tr style="height:50px">
      <td> <%= post.title %></td>
      <td><%= post.content %></td>
      <td><%= post.user&.email %></td>
      <td><%= post.comments_count %></td>
      <td><%= post.categories.pluck(:name).join(',') %></td>
      <td id="icons">
        <%= link_to '', post_path(post),class:"fa-solid fa-eye-slash fa-bounce"%>
        <%= link_to '', edit_post_path(post), class: "fa-solid fa-pen fa-bounce" if user_signed_in? && post.user == current_user %>
        <%= button_to '', post_path(post), class:"del-btn fa-solid fa-trash fa-bounce", method: :delete if user_signed_in? && post.user == current_user %>
        <%= link_to '', post_comments_path(post),class:"fa-solid fa-comment fa-bounce"%>
        <%= link_to '', new_post_comment_path(post),class:"fa-solid fa-pen-to-square fa-bounce"%>
      </td>
    </tr>
  <% end %>
</table>
<%= paginate @posts %>
<%= link_to 'Export', posts_path(format: :csv) %>
<div class="new-post">
  <%= link_to 'New Post', new_post_path, class: "btn" %>
</div>



