
<h1>Post List</h1>
<table>
  <thead>

    <th>Title</th>
    <th>Content</th>
    <th>Action</th>
  </thead>

   <% @posts.each do |post| %>
    <tr style="height:50px">
      <td> <%= post.title %></td>
      <td><%= post.content %></td>
      <td id="icons">
        <%= link_to '', post_path(post),class:"fa-solid fa-eye-slash fa-bounce"%>
        <%= link_to '', edit_post_path(post),class:"fa-solid fa-pen fa-bounce"%>
        <%= button_to '', post_path(post), class:"del-btn fa-solid fa-trash fa-bounce", method: :delete%>
        <%= link_to '', post_comments_path(post),class:"fa-solid fa-comment fa-bounce"%>
        <%= link_to '', new_post_comment_path(post),class:"fa-solid fa-pen-to-square fa-bounce"%>
      </td>
    </tr>
  <% end %>
</table>
<div class="new-post">
<%= link_to 'New Post', new_post_path, class:"btn"%>
</div>



